@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

body {
  width:100vw;
  height: 100vh;
  position: relative;
}

@layer base {
  * {
    @apply border-indigo-400;
  }

  input {
    @apply rounded-xl px-4 py-2 bg-foreground/10 border focus-within:outline-none
  }

  button, .btn {
    @apply border border-indigo-200/50 rounded-xl px-4 py-2
  }

  .btn-sm{
    @apply px-2 py-1
  }

  .btn-primary{
    @apply bg-indigo-700 hover:bg-indigo-600 text-white disabled:pointer-events-none disabled:bg-neutral-500
  }

  .btn-neutral{
    @apply bg-foreground/5 hover:bg-foreground/10
  }

  label {
    @apply text-foreground/40
  }

  .toast{
    @apply p-3 px-5 rounded-xl right-0 flex items-center gap-3 border border-foreground/10 backdrop-blur-md shadow-2xl
  }

  .toast-error{
    @apply text-white bg-red-500 border-none
  }

  .toast-success{
    @apply text-emerald-400
  }

}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}